{
  "plugins": [
    "react-hot-loader/babel",
    "transform-class-properties",
    "inline-react-svg"
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": "3"
      }
    ],
    "@babel/preset-react"
  ]
}
